body {
  background-image: url('https://i.imgur.com/pbOA3FD.png');
}

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/

.o-hierarchical-nav {
  position: fixed;
  width:100%;
  margin:0;
  padding:0;
  top:0;
  left:0;
}

.o-hierarchical-nav ul {
  list-style:none;
  position: relative;
  float:left;
  width:100%;
  margin:0;
  padding:0;
  background-color: rgba(0,0,0,0.7);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.o-hierarchical-nav ul a {
  display:block;
  font-weight:700;
  line-height:32px;
  padding:10px 15px;
  color:white;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.o-hierarchical-nav ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

.o-hierarchical-nav ul ul {
  display:none;
  position: absolute;
  top:100%;
  left:0;
  padding:0;
}2

.o-hierarchical-nav ul ul li
{
	float:none;
	width:200px
}

.o-hierarchical-nav ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

.o-hierarchical-nav ul ul ul
{
	top:0;
	left:100%;
}

.o-hierarchical-nav ul li:hover > ul
{
	display:block;
}

/***********************************************************************
*  TAB SECTION
***********************************************************************/

.o-tabs {
  width: 10em;
  font-family: "lucida grande", sans-serif;
}

[role="tablist"] {
  margin: 9em 0 -0.1em 10em;
}

[role="tab"] {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0.3em 0.5em 0.4em;
  border: 1px solid hsl(219, 1%, 72%);
  border-radius: 0.2em 0.2em 0 0;
  box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
  font-family: inherit;
  font-size: inherit;
  background: hsl(220, 20%, 94%);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: 0.2em 0.2em 0 0;
  border-top: 3px solid hsl(20, 96%, 48%);
  content: "";
}

[role="tab"][aria-selected="true"] {
  border-radius: 0;
  background: hsl(220, 43%, 99%);
  outline: 0;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
  border-top: 5px solid hsl(218, 96%, 48%);
}

[role="tab"][aria-selected="true"]::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 0.3em;
  background: hsl(220, 43%, 99%);
  box-shadow: none;
  content: "";
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
  border-color: hsl(20, 96%, 48%);
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding: 0.5em 0.5em 0.7em;
  border: 1px solid hsl(219, 1%, 72%);
  border-radius: 0 0.2em 0.2em 0.2em;
  box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
  background: hsl(220, 43%, 99%);
}

[role="tabpanel"]:focus {
  border-color: hsl(20, 96%, 48%);
  box-shadow: 0 0 0.2em hsl(20, 96%, 48%);
  outline: 0;
}

[role="tabpanel"]:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-bottom: 3px solid hsl(20, 96%, 48%);
  border-radius: 0 0 0.2em 0.2em;
  content: "";
}

[role="tabpanel"] p {
  margin: 0;
}

[role="tabpanel"] * + p {
  margin-top: 1em;
}




/*.o-tabs--buttontabs {
  max-width: 60%;
  display: inline-block;
  margin: 100px 100px 50px 500px;
}

.o-tabs--buttontabs li {
  list-style: none;
  text-decoration: none ;
  margin-right: 90px;
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid transparent;
  background: rgba(10, 20, 30, .4);
}

.o-tabs--buttontabs a {
  text-decoration: none;
  color: rgba(255, 255, 255, .6);
}

[role="tab"][aria-selected="true"] {
  color: white;
	background: rgba(10, 20, 30, .7);
	border: 1px solid rgba(255, 255, 255, .9);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  border-radius: 0.2em 0.2em 0 0;
  border-top: 3px solid hsl(20, 96%, 48%);
  content: "";
}

.o-tabs__tabpanel {
  background: linear-gradient(to bottom right, white, #F8F8F8);
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
	display: none;
	padding: 1.5rem;
	color: #4a5666;
}
*/