<nav class="o-hierarchical-nav" data-o-component="o-hierarchical-nav">
	<ul data-o-hierarchical-nav-level="1">
		<li><a>Item 1</a></li>
		<li><a>Item 2</a></li>
		<li class="o-hierarchical-nav__parent"><a>Item 3 (parent) <i></i></a>
			<ul data-o-hierarchical-nav-level="2">
				<li><a>Item 3.1</a></li>
				<li class="o-hierarchical-nav__parent"><a>Item 3.2 (parent) <i></i></a>
					<ul data-o-hierarchical-nav-level="3">
						<li><a>Item 3.2.1</a></li>
						<li><a>Item 3.2.2</a></li>
						<li><a>Item 3.2.3</a></li>
						<li><a>Item 3.2.4</a></li>
					</ul>
				</li>
				<li><a>Item 3.3</a></li>
				<li class="o-hierarchical-nav__parent"><a>Parent Item 3.4 <i></i></a>
					<ul data-o-hierarchical-nav-level="3">
						<li><a>Item 3.4.1</a></li>
						<li><a>Item 3.4.2</a></li>
						<li><a>Item 3.4.3</a></li>
						<li><a>Item 3.4.4</a></li>
					</ul>
				</li>
				<li><a>Item 3.5</a></li>
			</ul>
		</li>
		<li><a>Item 4</a></li>
		<li class="o-hierarchical-nav__parent"><a>Parent Item 5 <i></i></a>
			<ul data-o-hierarchical-nav-level="2">
				<li><a>Item 5.1</a></li>
				<li class="o-hierarchical-nav__parent"><a>Parent Item 5.2 <i></i></a>
					<ul data-o-hierarchical-nav-level="3">
						<li><a>Item 5.2.1</a></li>
						<li><a>Item 5.2.2</a></li>
						<li><a>Item 5.2.3</a></li>
						<li><a>Item 5.2.4</a></li>
					</ul>
				</li>
				<li><a>Item 5.3</a></li>
				<li class="o-hierarchical-nav__parent"><a>Parent Item 5.4 <i></i></a>
					<ul data-o-hierarchical-nav-level="3">
						<li><a>Item 5.2.1</a></li>
						<li><a>Item 5.2.2</a></li>
						<li><a>Item 5.2.3</a></li>
						<li><a>Item 5.2.4</a></li>
					</ul>
				</li>
				<li><a>Item 5.5</a></li>
			</ul>
		</li>
	</ul>
</nav>
