<h1 class="demo__title">Base theme</h1>

<nav class="o-hierarchical-nav demo--horizontal-theme" data-o-component="o-hierarchical-nav">
    <ul data-o-hierarchical-nav-level="1">
        <li data-priority="2" aria-selected="true"><a>Item 1</a></li>
        <li data-priority="3"><a>Item 2</a></li>
        <li data-priority="1" class="o-hierarchical-nav__parent"><a>Item 3 (parent) <i></i></a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>Item 3.1</a></li>
                <li><a>Item 3.2</a></li>
                <li><a>Item 3.3</a></li>
                <li><a>Item 3.4</a></li>
            </ul>
        </li>
        <li data-priority="2"><a>Item 4</a></li>
        <li data-priority="1" class="o-hierarchical-nav__parent"><a>Item 5 (parent) <i></i></a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>Item 5.1</a></li>
                <li class="o-hierarchical-nav__parent"><a>Parent Item 5.2 <i></i></a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 5.2.1</a></li>
                        <li><a>Item 5.2.2</a></li>
                        <li><a>Item 5.2.3</a></li>
                        <li><a>Item 5.2.4</a></li>
                    </ul>
                </li>
                <li><a>Item 5.3</a></li>
                <li><a>Item 5.4</a></li>
            </ul>
        </li>
        <li data-more class="o-hierarchical-nav__parent" aria-hidden="true"><a><span class="o-hierarchical-nav__more--if-some">More</span><span class="o-hierarchical-nav__more--if-all">Menu</span> <i></i></a></li>
    </ul>
</nav>
