// Basic parameter definition
$o-grid-is-silent: false;
$o-fonts-is-silent: false;
$o-ft-icons-is-silent: false;
$o-header-is-silent: false;
$o-tabs-is-silent: false;
$o-hierarchical-nav-is-silent: false;
$o-grid-is-silent: false;
$o-fonts-is-silent: false;
$o-ft-icons-is-silent: false;
$o-header-is-silent: false;
$o-buttons-is-silent: false;
$o-footer-is-silent: false;
$o-forms-is-silent: false;
$o-loading-is-silent: false;
$o-share-is-silent: false;
$o-teaser-is-silent: false;
$o-colors-is-silent: false;
$o-gallery-is-silent: false;
$o-typography-is-silent: false;
$o-hoverable-is-silent: false;
$o-expander-is-silent: false;

/* Set Origami config */
$o-assets-global-path: '/resources';

// Import Origami components
@import 'o-share/main';
@import 'o-techdocs/main';
@import 'o-grid/main';
@import 'o-fonts/main';
@import 'o-icons/main';
@import 'o-tabs/main';
@import 'o-hierarchical-nav/main';
@import 'o-aside-panel/main';


// Store the default FT sans-serif font stack in a variable
$sans-serif: oFontsGetFontFamilyWithFallbacks(MetricWeb);

html {
	// The iconic pink background
	@include oColorsFor(page, background);

	// Set a font family on the whole document
	font-family: $sans-serif;

	// Prevent navigation menus from creating
	// extra space on sides of the page
	overflow-x: hidden;
}

body {
	// Remove space around the document
	margin: 0;
}


// o-tabs setup
@include oTabsButtonTabsTheme('primary');
@include oTabsButtonTabsTheme('inverse');

// o-hierarchical-nav setup
.o-hierarchical-nav {

	li {
		font-size: 14px;
		line-height: 16px;
	}
	a {
		padding: 10px 20px;
	}
}
@include oHierarchicalNavHorizontalTheme;
